*{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
nav{
    
    display: flex;
    margin: 10px;
    justify-content: space-between;

}

.awal{
    display: flex;
    
    flex: 1;
    margin: 10px;
}
.awal img{
    width: 39px;
    height: 55px;
    padding-right: 5px;
}
.awal .nama{
    
    padding: 10px;
    
}


.tengah{
    display: flex;
    flex: 3;
    
    padding : 10px;
    align-items: center;
    justify-content: center;

}
.tengah a{
    color: black;
}
.menu{
    padding-right: 31px;
    font-size: 12px;
}

.akhir{
    justify-content: flex-end;
    flex: 1;
    display: flex;

    padding: 5px;
    width: 50px;
    height: 20px;
    margin: 20px;
    align-items: center;

}
.login{
    
    display: flex;
    margin-right: 10px;


}
.buy{

    display: flex;
    width: 165px;
    height: 38px;
    background: #93BFA2;
    border-radius: 12px;
    color:white;
    align-items: center;

}
.buy img{
    padding: 9px 5px 12px 7px;
}
a:hover {
    color: rgba(179, 71, 38, 0.747);
 }
/* header */

header{
    
    height: 600px;
    display: flex;

}

.heading{
    margin-top: 100px;
}
.heading p{
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 54px;
    
 
}
.heading .deskripsi{
    width: 595px;

    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.09em;
    margin-bottom: 50px;
}
span{
    letter-spacing: 0.03em;
    color: #93BFA2;
    font-weight: 600;

}
.tbl-buy{
    width: 170px;
    height: 47.66px;
    background: #93BFA2;
    border-radius: 12px;
    color: white;
    padding: 14px 35px 14px 35px ;
}
.tbl-view{
    width: 170px;
    height: 47.66px;
    font-size: 16px;
    line-height: 19px;
    color: black;
    padding: 14px 50px 14px 50px ;
    border-radius: 12px;
    border: 1px solid black;
    

}

.foto img{
    width: 721px;
    height: 509px;
    border-radius: 10px;
}

.sosmed{
    display: flex;
    flex-direction: column;
    width: 73px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    align-items: center;
    margin-left: -40px;
    align-self: center;
    
}
.sosmed .ig{
    padding: 21px 8px 26px 8px;
}
.sosmed .fb{
    padding: 21px 8px 26px 8px;
}
.sosmed img .fb{
    padding: 21px 8px 26px 8px;
}

/*main content*/
.help{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 544px;

    background: rgba(219, 234, 237, 0.62);
    align-items: center;

    
}
.text{
    font-weight: normal;
    font-size: 32px;

    color: black;
 
    width:auto;
    height:100px ;
    font-weight: bold;

    
    margin: 57px 0 102px 0;
}
.pict{
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    
    
}
.emot{

    margin-top: -66px;

}

.type{
    width: auto;
    height: 398px;
    
    display: flex;
    flex-direction: column;
    

    
}
.judul p{
    font-weight: normal;
    font-size: 32px;
    
    color:black;
    align-items: flex-start;
    margin-left: 90px;
    width: 50%;
    
    
}
.gambar{
    width: 100%;
    height: 200px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.container{
    width: auto;
    height: 400px;
    
    
}
.kotak{
    width: 90%;
    height: 300px;
    
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;

}

.reco{
    width: 231px;
    height: 282px;
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items:center;
    
}
.tumbuhan{
    width: 191px;
    height: 183px;
    margin-top: 25px;
}

.need{
    width: auto;
    height: 1060px;
    
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.inner{
    width: 1014px;
    height: 982px;
    align-self: center;

    
}
.paragrap{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}


.paragrap .kapital{
    font-size: 32px;
    
    
}
.timeline{
    width: 1000px;
    height: 800px;
    
    display: flex;
}

.baris1{
    width: auto;
    height: 800px;
    
    margin: 5px;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.kanan{
    justify-content: space-evenly;
}
.isi{
    width: 457px;
    height: 261px;
    filter: drop-shadow(0px 13px 17px rgba(199, 218, 222, 0.62));
    background: #FFFFFF;
    border: 2px solid #93BFA2;
    display: flex;
    align-items: center;
}
.picture{
    width: 149px;
    height: 206px;
    padding-left: 10px;
    

}
.baca{
    width:300px;
    height: 206px;
    
    font-size: 14px;
    padding:0 10px 0 10px
    
    
}
.time{
    color: #267A43;
    font-size: 24px;
    font-weight: bold;
}

.garis{
    width: 1px;
    height: 800px;
    
    margin: 5px;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    
    
    
    flex: 1;
}
.grs{
    width: 1px;
    height: 800px;
    border: 1px solid black;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.circle{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-left: -15px;

    
    background: #93BFA2;
}
.tips{
    width: auto;
    height: 600px;
    background: rgba(219, 234, 237, 0.62);
}
.heder{
    font-size: 32px;
    text-align: center;
    padding: 10px 32px 0 15px;
}
.konten{
    display: flex;
    
    width: 100%;
    height: 480px; 
  
}
.kiri{
    width: 50%;
    height: 470px;
    
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    justify-content: space-evenly;


}
.bagian{
    width: 90%;
    height: 25%;
    
    display: flex;
    justify-content: center;
    margin-top: 5px;
    
}

.angka p{
    
    width: 25px;
    height: 25px;
    text-align: center;
    background: rgba(147, 224, 241, 0.62);
    border-radius: 50%;
    margin-right: 5px;
    
}
.desc{
    
    width: 500px;
    height: 100px;
    font-size: 14px;
}
footer{
    display: flex;
    width:101.20%;
    margin-left: -8px;
    background: #D7DCD7;
    line-height:135%;
}
footer .ft img{
    display: flex;
    width: 55.82px;
    height: 70px;
    margin-left: 105px;
    margin-top: 80%; 
}
footer .ft h4{ 
    display: flex;
    margin-left: 105%;  
    margin-top: -38%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #323630;
}
footer .xx h3{
    display: flex;
    width: 210px;
    display: flex;
    margin-left: 75%;  
    margin-top: 65%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
footer .grs1{
    display: flex;
    width: 1px;
    height: 300px;
    margin-left:300px;
    border: 15px;
    background: rgba(30, 40, 51, 0.07);
}
footer .vv{
    width: 120px;
    display: flex;
    margin-left:60px;
    line-height: 26px;
    margin-top: 4%;
}
footer .vv h4{ 
    width: 10%;  
    height: 20px;
    margin-left: 5%;
    margin-top: 40%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #219C0D;
}
footer .vv p{
    margin-left: -10%;  
    height: 50px;
    margin-top: 65%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #1E2833;

}
footer .vs{
    width: 120px;
    display: flex;
    margin-left:60px;
    line-height: 26px;
    margin-top: 4%;
}
footer .vs h4{
    width: 11%;  
    height: 20px;
    margin-left: 5%;
    margin-top: 40%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #219C0D;
}
footer .vs p{
    margin-left: -10%;  
    height: 50px;
    margin-top: 65%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #1E2833;
}
footer .lk{
    width: 240px;
    display: flex;
    flex-direction: row;
    margin-left:60px;
    line-height: 26px;
    margin-top: 4%;
    
}
footer .lk h4{
    height: 22px;
    margin-left: 5%;
    margin-top: 20%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #219C0D;
}

footer .lk .xx {
    margin-top: 40%;
    margin-left: -35%;  
    width: 150px;
    height: 50px;
   
}
footer .oo{
    margin-left: -60%;
    display: flex;
    width: 30%;
    height: 40px;
    margin-top: 25%;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.204545px;
    color: #1E2833;
    mix-blend-mode: normal;
    opacity: 0.5;
}
footer .lk .xx img {
    width: 30px;
}
